 @import "../../common/styles/common.less";


body {
  margin: 0;
  min-width: 960px;
//  width:  1920px;
//  height:  1080px;
  background: #f5f5f5;
  background-size: 1260px 1108px;

}

.diagram {
  position: relative;
  vertical-align: middle;
}

// AMQ ==========================================================

.amq{
 .clearfix();
 width: 560px;
 margin: 0px auto 0 auto;
 border-top: 2px solid @brand-primary;
 box-shadow: 0 1px 2px rgba(0,0,0,.15);
 background: #fff;
 h1{
   margin: 0;
   border-bottom: 1px solid #d1d1d1;
   background: url(../img/redhatamq.png) no-repeat 20px 20px;
   background-size: 234px 58px;
   height: 98px;
   text-indent: -9999999px;
 }

 .amq-input, .amq-output{
   float: left;
   width: 50%;
   font-size: @font-size-h3;
   line-height: 35px;
   .container{
     padding: 5px 20px 20px 20px;
   }
   strong {
     display: block;
     font-weight: 300;
     font-size: @font-size-h1*1.5;
     .count {
     }
     .dirty {
       font-size: @font-size-h1*.75;
       vertical-align: super;
     }
   }
 }
 .amq-input{
   .container{
      border-right: 1px solid #d1d1d1;
   }
  }
}

// Spark ==========================================================

.spark{
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  margin: 120px auto 0 auto;
  position: relative;
  border-top: 2px solid @brand-primary;
  width: 220px;
  position: relative;

  h1{
    background: url(../img/spark.png) no-repeat center center;
    background-size: 108px 57px;
    height: 67px;
    margin: 10px auto 0 auto;
    text-indent: -9999999px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
  }
  .gears{
    .size (220px; 175px);
    margin: 0px auto;
  }
}

#content{
  position: absolute;
  top: 300px;
  left: -110px;
}
#gears{
//	width:478px;
//	height:655px;
	position:relative;
	display:inline-block;
	vertical-align:middle;
}


#gears-static{
	background:url(../img/FgFnjks.png) no-repeat -363px -903px;
	width:329px;
	height:602px;
	position:absolute;
	bottom:5px;
	left:60px;
}


.shadow{
	-webkit-box-shadow:     0 0 10px 5px rgba(43, 36, 0, 0.36);
	-moz-box-shadow:        0 0 10px 5px rgba(43, 36, 0, 0.36);
	box-shadow:             0 0 10px 5px rgba(43, 36, 0, 0.36);
}



/*gear-system-5*/
#gear12{
	background: url(../img/FgFnjks.png) no-repeat 0 -530px;
	width: 164px;
	height: 164px;
	position:absolute;
	left:208px;
	bottom:85px;
	-webkit-animation: rotate 2000ms linear infinite;
	-moz-animation: rotate 2000ms linear infinite;
	-ms-animation: rotate 2000ms linear infinite;
	animation: rotate 2000ms linear infinite;
}
#shadow12{
	width:124px;
	height:124px;
	-webkit-border-radius:62px;
	-moz-border-radius:62px;
	border-radius:62px;
	position:absolute;
	left:225px;
	bottom:107px;
}
#gear11{
	background: url(../img/FgFnjks.png) no-repeat 0 -356px;
	width: 125px;
	height: 124px;
	position:absolute;
	left:228px;
	bottom:105px;

	-webkit-animation: rotate-back 2500ms linear infinite;
	-moz-animation: rotate-back 2500ms linear infinite;
	-ms-animation: rotate-back 2500ms linear infinite;
	animation: rotate-back 2500ms linear infinite;
}
#shadow11{
	width:88px;
	height:88px;
	-webkit-border-radius:44px;
	-moz-border-radius:44px;
	border-radius:44px;
	position:absolute;
	left:247px;
	bottom:123px;
}
#gear8{
	background: url(../img/FgFnjks.png) no-repeat -371px -158px;
	width: 72px;
	height: 72px;
	position:absolute;
	left:150px;
	bottom:55px;
	-webkit-animation: rotate 1500ms linear infinite;
	-moz-animation: rotate 1500ms linear infinite;
	-ms-animation: rotate 1500ms linear infinite;
	animation: rotate 1500ms linear infinite;
}
#shadow8{
	width:32px;
	height:32px;
	-webkit-border-radius:18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	position:absolute;
	left:172px;
	bottom:75px;
}

/*gear1*/
#gear1{
	background: url(../img/FgFnjks.png) no-repeat 0 0;
	width: 135px;
	height: 134px;
	position:absolute;
	left:83px;
	bottom:111px;

	-webkit-animation: rotate-back 2500ms linear infinite;
	-moz-animation: rotate-back 2500ms linear infinite;
	-ms-animation: rotate-back 2500ms linear infinite;
	animation: rotate-back 2500ms linear infinite;
}
#shadow1{
	width:96px;
	height:96px;
	-webkit-border-radius:48px;
	-moz-border-radius:48px;
	border-radius:48px;
	position:absolute;
	left:103px;
	bottom:130px;
}





/*ANIMATIONS*/
/*rotate*/
@keyframes "rotate" {
 from {
    -webkit-transform: rotate(0deg);
   	-moz-transform: rotate(0deg);
   	-o-transform: rotate(0deg);
   	-ms-transform: rotate(0deg);
   	transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(360deg);
   	-moz-transform: rotate(360deg);
   	-o-transform: rotate(360deg);
   	-ms-transform: rotate(360deg);
   	transform: rotate(360deg);
 }
}

@-moz-keyframes rotate {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}

@-webkit-keyframes "rotate" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}

@-ms-keyframes "rotate" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}

@-o-keyframes "rotate" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(360deg);
   transform: rotate(360deg);
 }
}
/*rotate-back*/
@keyframes "rotate-back" {
 from {
    -webkit-transform: rotate(0deg);
   	-moz-transform: rotate(0deg);
   	-o-transform: rotate(0deg);
   	-ms-transform: rotate(0deg);
   	transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(-360deg);
   	-moz-transform: rotate(-360deg);
   	-o-transform: rotate(-360deg);
   	-ms-transform: rotate(-360deg);
   	transform: rotate(-360deg);
 }
}

@-moz-keyframes rotate-back {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(-360deg);
   transform: rotate(-360deg);
 }
}

@-webkit-keyframes "rotate-back" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(-360deg);
   transform: rotate(-360deg);
 }
}

@-ms-keyframes "rotate-back" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(-360deg);
   transform: rotate(-360deg);
 }
}

@-o-keyframes "rotate-back" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(-360deg);
   transform: rotate(-360deg);
 }
}







// Old Styles ====================

.map{
  position: absolute;
  z-index: -1;
  top: 38px;
  left: 0;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

.jms {
  stroke-width: 2.5px;
  fill: lightgray;
  stroke: gray;
}

.spark {
  stroke-width: 2.5px;
  fill: lightgray;
  stroke: gray;
}

.gear {
  fill: black;
  stroke: lightgray;
  stroke-width: 1px;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.anchorNode text {
  font-family: Arial;
  font-size: 30px;
}

.topic {
  font-size: 20px;
}
