body {
  margin: 0;
  min-width: 960px;
  width:  1920px;
  height:  1080px;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

.jms {
  stroke-width: 2.5px;
  fill: lightgray;
  stroke: gray;
}

.spark {
  stroke-width: 2.5px;
  fill: lightgray;
  stroke: gray;
}

.gear {
  fill: black;
  stroke: lightgray;
  stroke-width: 1px;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.anchorNode text {
  font-family: Arial;
  font-size: 30px;
}

.topic {
  font-size: 20px;
}

.count {
  font-size: 40px;
}
