@import "../lib/patternfly/less/patternfly.less";

@fa-font-path:      "../lib/patternfly/components/font-awesome/fonts/";
@font-path:         "../lib/patternfly/dist/fonts";
@icon-font-path:    "../lib/patternfly/components/bootstrap/fonts/";


//navbar changes to make it heigher ==========================================================

 .navbar-header{
   padding: 5px 0;
 }
 
 .navbar-pf .navbar-utility  > li > a {
 padding: 12px 10px;}
 
 .navbar-pf .navbar-utility li.dropdown > .dropdown-toggle .pficon-user{
   top: 12px;
 }


// map ==========================================================

.map-container{
  margin: 20px 0 0 0;
  position: relative;
  .info{
    .clearfix();
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    &>div{
      background: rgba(255,255,255,1);
      box-shadow: 0 0 3px rgba(0,0,0,.5);
      float: left;
      margin-right: 1px;
      line-height: 20px;
      padding: 10px;
      text-transform: uppercase;
      width: 15%;
      span{
        display: block;
        line-height: 35px;
        margin: 0;
      }
      &:last-child{
        background: none;
        width: 50%;
        padding: 0;
        div{
          background: rgba(255,255,255,1);
          box-shadow: 0 0 3px rgba(0,0,0,.5);
          padding: 10px;
          width: 100%;
        }
      }

    }
    
    .userinfo {
      display:none;
      margin: 1px 0 0 0;
      span{
        display: inline;
        line-height: normal;
      }
      h2{
        line-height: 35px;      
        margin: 0;
        text-transform: none;
      }
      ul{
        margin: 0;
        li{
          line-height: 20px;  
          margin-right: 8px;    
        }    
      }
    }
 
    #log {
      height: 76px;
      overflow: hidden;
      text-transform: none;
      color: @gray-light;
      span {
        display:block;
        line-height: 19px!important;
      }
 
      .check-in {
//        color: @brand-success;
      }
 
      .check-out {
          .log-action{
            background: @brand-danger!important;
            }
//        color: @brand-danger;
      }
      
      ul{
        padding: 0;
        li{
          margin: 0;
          .list-unstyled;
            border-bottom: 1px solid @gray-lighter;
            line-height: 19px;
          }
        span{
          display: inline-block;
          &.log-action{
            background: @brand-success;
            color: #fff;
//            text-align: center;
            width: 17%;
            i{
              padding-left: 5px;
            }
          }
          &.log-time{
            width: 15%;
          }
          &.log-id{
            width: 15%;
          }
          &.log-location{
            width: 50%;
          }
        }
      }
    }
  }
} 

.map {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: 100%; /* 2442x1448 */
  border: 1px solid @gray-lighter;
}


.node {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 0.5px;
}

.link {
  stroke: #777;
  stroke-width: 2px;
}

.selected {
  stroke:rgba(0,0,0,.5);
  stroke-width: 5px;  
}
 



//  .legend {
//    display: table-cell;
//    vertical-align: bottom;
//  }
//  
//  .legendInner {
//    width: 70px;
//    margin-bottom: 20px;
//  }
 
// .arrowText {
//   display:inline-block;
// }
// 
// .arrow {
//   display:inline-block;
// }
// 
// .scale {
//   width: 20px;
//   height: 200px;
//   display: inline-block;
//   background-image: linear-gradient(to bottom,
//     hsl(0, 70%, 50%)
//   , hsl(30, 70%, 50%)
//   , hsl(60, 70%, 50%)
//   , hsl(90, 70%, 50%)
//   , hsl(120, 70%, 50%)
//   , hsl(150, 70%, 50%)
//   , hsl(180, 70%, 50%)
//   , hsl(210, 70%, 50%)
//   , hsl(240, 70%, 50%)
//   , hsl(270, 70%, 50%)
//   );
// }
 
