body {
  margin: 0;
  transform: transale3d(0,0,0);
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.hexagon {
  stroke: #000;
  stroke-width: .5px;
}

.winner .hexagon {
  stroke: steelblue;
  stroke-width: 2px;
}

.winner text {
  fill: steelblue;
}

#winners {
  height: 60px;
  width: 150px;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px
}
