.content {
  background-image: url('devnation_map_bw.png');
  background-size: contain; /* 2442x1448 */
  background-repeat: no-repeat;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 0.5px;
}

.node0 {
    fill: cyan;
}

.node1 {
    fill: red;
}

.node2 {
    fill: green;
}

.node3 {
    fill: blue;
}

.node4 {
    fill: orange;
}

.node5 {
    fill: magenta;
}

.node6 {
    fill: yellow;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.buttons {
    position: absolute;
    width: 30px;
}

.buttons button {
    width: 30px;
}

#log {
  height: 20ex;
  width: 60ex;
  overflow: scroll;
}

#log span {
  display:block;
}

.check-in {
  color: green;
}

.check-out {
  color: red;
}
