.node1 {
    fill: #0000cc;
    stroke: #fff;
    stroke-width: 2px;
}

.node2 {
    fill: #cc0000;
    stroke: #fff;
    stroke-width: 2px;
}

.link1 {
    stroke: #0000aa;
    stroke-width: 1px;
}

.link2 {
    stroke: #aa0000;
    stroke-width: 1px;
}

button {
    position: absolute;
    width: 30px;
}
button#slow {
    margin-top: 28px;
}
button#play {
    margin-top: 54px;
}
button#reset {
    margin-top: 80px;
}
