<ion-pane>
      <ion-header-bar class="bar-header bar-assertive">
        <div class="h1 title">Welcome</div>
      </ion-header-bar>

      <ion-content>
        <div class="container">
          <p>Instructions are pretty simple: Register to the app, draw a sketch and deploy it to your container</p>
        </div><!-- col -->

        <div class="list card">
          <a href="#/main" class="item item-icon-left">
            <i class="icon ion-ios-person-outline"></i>
            1. Enter your name
          </a>
          <div class="item item-icon-left">
            <i class="icon ion-ios-compose-outline"></i>
            2. Draw a sketch
          </div>
          <div class="item item-icon-left">
            <i class="icon ion-ios-cloud-upload-outline"></i>
            3. Deploy to a container
          </div>
        </div>

        <div class="container">
          <a href="#/main" class="button button-block button-positive">
            Start Now!
          </a>
        </div>

      </ion-content>
    </ion-pane>
